body {
    font: 16px/1.5 Arial, Helvetica, sans-serif;
    color: #484848;

}

.sheet {
    width: 1280px;
    margin: 0 auto;
}

.logo-wrapper {
    font-size: 80px;
    margin-top: 61px;
}

.logo {
    color: #4BCAFF;
}

.logo-link {
    text-decoration: none;
    color: #000000;
}

.top-menu-wrapper {
    margin-top: 44px;
    font-size: 24px;
    text-align: center;
    background-color: #35444F;

}

.top-menu {
    margin: 0;
    text-align: center;
}

.top-menu li {
    display: inline-block;
    list-style: none;
}

.top-menu li a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 20px 40px ;
    display: inline-block;
}

.top-menu li a.active {
    background-color: #222F3A;
    border-right: 1px solid #818181;
    border-left: 1px solid #818181;
}


.content-wrapper {
    margin-top: 51px;

    

}

.menu {
    width: 342px;
    font-size: 30px;
    border: 1px solid #35444F;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    padding-left: 0;

}

.menu li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li a {
    text-decoration: none;
    color: #485863;
    display: block;
    padding: 15px 44px;
}

.menu li a.active2 {
    color: #000000;
    background-color: #DBDBDB;
    padding: 14px 69px;
}    

.content {
    margin-left: 52px;
    display: inline-block;
    width: 838px;
    
    


}

.img-wrapper {
    border: 1px solid #35444F;
    padding: 75px 0;
    text-align: center;

}

.img-wrapper img {
    display: inline-block;

}

.content p {
    margin: 30px 40px 30px 30px;
    font-weight: 550;

}

.content p:first-child {
    margin-top: 50px;
    
}

.content p:last-child {
    margin-bottom: 0;
    
}

footer {
    margin-top: 51px;
    background-color: #B4B7BA;
    line-height: 70px;
    padding-left: 44px;
    

}

footer li {
    display: inline-block;
    list-style: none;
    margin-right: 15px;
}

footer li a {
    text-decoration: none;
    color: #0C1927;
    display: inline-block;
    font-size: 28px;
}

footer a {
    font-size: 28px;
}

footer li a.active3 {
    color: #3181A6;
    text-decoration: underline;
}

footer li.copyright {
    float: right;
    color: #010101;
    font-size: 22px;
}
